.container{
    max-width: 1800px;
    margin: auto;

    .container__filter{
        display: flex;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
        & > * {
            margin:0 10px;
        }
    }
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}